.question {
  margin: 3%;
  display: inline-block;
  vertical-align: center;
  text-align: center;
}

.desc {
  display: block;
  font-size: larger;
  font-weight: bold;
}

.align-center {
  margin-left: 400px;
  margin-top: 100px;
}

.header {
  margin-left: 600px;
  margin-top: 200px;
  font-size: 62px;
  font-weight: bold;
}

.header2 {
  margin-left: 655px;
  margin-top: 300px;
  font-size: 62px;
  font-weight: bold;
}

.header3 {
  margin-left: 550px;
  margin-top: 50px;
  font-size: 62px;
  font-weight: bold;
}

.header4 {
  margin-left: 350px;
  margin-top: 200px;
  font-size: 62px;
  font-weight: bold;
}

.genre {
  margin-left: 200px;
  margin-top: 100px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -100px;
}